[package]
name = "processor"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
csv = "1.1"
fpdec = "0.5"
serde = { version = "1.0", features = ["derive"] }
serde_with = "2.0"
thiserror = "1.0"
